html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.divided-section {
  display: block;
  width: 100%;
  border: 1px solid #c3935b;
}

/* ---------------------------------------------------------------------------------- */
/* CSS del componente IntroCard */

/* CSS del componente CarouselSection */

/* Carosello dei prodotti */
#container-carousel {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-title-products {
  display: flex;
  flex-direction: column;
  position: relative;

  & .span-target3 {
    position: absolute;
    top: 1em;
    left: 2em;
    width: 15%;
    border: 1px solid #c3935b;
  }

  & .span-target4 {
    position: absolute;
    top: 1em;
    right: 2em;
    width: 15%;
    border: 1px solid #c3935b;
  }
}

.carousel {
  border-left: 2px solid rgba(255, 255, 255, 0.607);
  border-right: 2px solid rgba(255, 255, 255, 0.579);
  margin: 0 auto;
  gap: 20px;
  padding: 20px 0;
  width: 26em;
  overflow: hidden;
  display: flex;
  > * {
    flex: 0 0 100%;
  }
  /* &:hover .group {
    animation-play-state: paused;
  } */
}

.card {
  width: 300px;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 10px 1px;
  padding: 5px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 400px;

  &:nth-child(1) {
    background: #5d34f2;
    background-image: url("./assets/Anello-carousel.jpg");
    background-size: cover;
    background-position: center;
  }

  &:nth-child(2) {
    background: #5d34f2;
    background-image: url("./assets/Anello2-carousel.jpg");
    background-size: cover;
    background-position: center;
  }

  &:nth-child(3) {
    background: #4300da;
    background-image: url("./assets/Bracciale-carousel.jpeg");
    background-size: cover;
    background-position: center;
  }

  &:nth-child(4) {
    background: #4300da;
    background-image: url("./assets/Collana-carousel.jpeg");
    background-size: cover;
    background-position: center;
  }

  &:nth-child(5) {
    background: #4300da;
    background-image: url("./assets/orecchini-carousel.jpg");
    background-size: cover;
    background-position: center;
  }

  &:nth-child(6) {
    background: #4300da;
    background-image: url("./assets/Orologio-carousel.jpeg");
    background-size: cover;
    background-position: center;
  }
}

.group {
  display: flex;
  gap: 20px;
  will-change: transform;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Carosello AboutUs */

.span-target1 {
  position: absolute;
  top: 1em;
  left: 0em;
  width: 32%;
  border: 1px solid #c3935b;
}

.span-target2 {
  position: absolute;
  top: 1em;
  right: 0em;
  width: 32%;
  border: 1px solid #c3935b;
}

#carousel_aboutUs {
  position: relative;
  overflow: hidden;
  height: 80vh;
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  box-shadow: 0px 0px 10px 1px #00000054;

  & #div_content {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 1em;
    z-index: 5;
    transition: all 0.6s cubic-bezier(0.5, 0, 0, 1);

    & h1 {
      text-align: center;
      color: white;
      letter-spacing: 2px;
      position: relative;
      padding: 1em;
      margin-bottom: 0;
      font-size: 1em;
    }

    & p {
      text-align: center;
      color: white;
      letter-spacing: 2px;
      position: relative;
      padding: 1em;
      margin-bottom: 0;
      font-size: 0.8em;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-image: linear-gradient(354deg, black, transparent);
  }
}

#row_aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-text {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 1s cubic-bezier(0.5, 0, 0, 1),
    transform 1s cubic-bezier(0.5, 0, 0, 1);
}

.carousel-text.fade {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s cubic-bezier(0.5, 0, 0, 1);
}

.card-slide {
  min-width: 100%;
  & img {
    object-fit: contain;
    width: 100%;
  }
}
