html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.divided-section {
  display: block;
  width: 100%;
  border: 1px solid #ffce66;
}

/* ---------------------------------------------------------------------------------- */
/* CSS del componente IntroCard */

/* CSS del componente Footer */

#container_footer {
  background-color: black;
  padding: 2em;

  & h4 {
    font-size: 1em;
    color: rgb(173, 173, 173);
    text-align: center;
  }

  & a {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: rgb(173, 173, 173);
    &:hover {
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}

#div_logo_footer {
  width: 30%;
}

.span-footer {
  border: 1px solid rgba(255, 255, 255, 0.393);
}
